body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;

}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    text-align: center;
    margin: 0;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a.active {
    text-decoration: underline;
}

section {
    padding: 20px 0;
}

.about-section {
    background: #f4f4f4;
    padding: 40px 0;
    text-align: center, justify;

}

.team-section {
    background: #e2e2e2;
    padding: 0px 0;
    text-align: center;
}

.team-member {
    display: inline-block;
    margin: 56px;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.contact-section {
    background: #d4d4d4;
    padding: 40px 0;
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .team-member {
        display: flex;
        margin: 20px auto;

    }
}

.social-media-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon {
    text-decoration: none;
    color: white;
    font-size: 24px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.social-icon.facebook {
    background-color: #3b5998;
}

.social-icon.facebook:hover {
    background-color: #2d4373;
}

.social-icon.twitter {
    background-color: #1da1f2;
}

.social-icon.twitter:hover {
    background-color: #0c85d0;
}

.social-icon.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

.social-icon.instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    opacity: 0.8;
}

.social-icon.linkedin {
    background-color: #0077b5;
}

.social-icon.linkedin:hover {
    background-color: #005582;
}